:root {
	--primary-text-color: #fff;
	--secondary-text-color: #ffffff6d;
	--primary-box-color: #18191b;
	--secondary-box-color: #25272c;
	--tertiary-box-color: #ffffff13;
	--bg-color: #2f3136;
	--pattern-color: #2d2e32;
	--accent-color: #5267fa;
	--input-color: #464a52;
}

* {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	background-color: var(--bg-color);
	background-image: linear-gradient(var(--pattern-color) 2px, transparent 2px),
		linear-gradient(to right, var(--pattern-color) 2px, var(--bg-color) 2px);
	background-size: 20px 20px;
	color: var(--primary-text-color);
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	overflow: -moz-hidden-unscrollable;
	height: 100%;
}

nav {
	padding: 20px;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	font-family: inherit;
	color: inherit;
	font-size: inherit;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
}

select::-ms-expand {
	display: none;
}

.fade:hover {
	opacity: 75%;
}

.pulse:hover {
	animation: pulse 0.3s 1;
	animation-timing-function: linear;
}

.bg-accent {
	color: #fff !important;
}

.flex {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	gap: 10px;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.align-right {
	margin-left: auto !important;
}

.box {
	background: var(--primary-box-color);
	width: fit-content;
	padding: 20px;
	border-radius: 5px;
	margin: 0;
}

.secondary-box {
	background: var(--secondary-box-color);
}

.height-300px {
	height: 300px;
}

.bg-accent {
	background: var(--accent-color);
}

.accent {
	color: var(--accent-color);
}

.clickable {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.date-row {
	flex-direction: row-reverse;
	margin-right: 10px;
}

.time-row {
	margin-left: 10px;
	order: 1;
}

.input-label {
	gap: 8px;
	font-size: 14px;
	font-weight: bold;
}

#toggle-theme {
	padding: 14px;
}

#container {
	width: 60%;
	margin: 100px auto;
}

#preview {
	gap: 0;
}

#preview,
#builder {
	width: 100%;
	height: 175px;
	border-radius: 8px;
}

#builder {
	height: 300px;
	flex-direction: column-reverse;
}

#preview-header {
	background: var(--primary-box-color);
	border-radius: 8px 8px 0 0;
	width: 100%;
	flex-direction: row-reverse;
}

#preview-header * {
	margin: 10px 0 10px 0;
}

#timestamp-text {
	margin: auto auto auto 20px;
	order: 1;
}

#preview-header button {
	padding: 8px 13px;
	border-radius: 4px;
	margin-right: 10px;
	font-size: 14px;
}

#clear {
	background: var(--secondary-box-color);
	margin: 10px 0 !important;
}

#copy {
	order: -1;
}

#raw-timestamp {
	color: var(--secondary-text-color);
	padding: 8px 12px;
	margin-left: 10px;
}

#convert {
	order: -1;
	padding: 14px;
	border-radius: 0 0 8px 8px;
	width: 100%;
	font-size: 1.2em;
}

#date-constructor {
	order: 2;
	margin: 0 10% 10px 10% !important;
}

#date-constructor input {
	background: var(--input-color);
	color: var(--primary-text-color);
	border: none;
	text-align: center;
	width: 80%;
	padding: 10px 8px;
	border-radius: 3px;
	font-size: 20px;
}

#date-constructor p {
	width: fit-content;
	margin: 0 !important;
	margin-bottom: 5px;
}

#type {
	margin-bottom: 20px !important;
}

.selection {
	background: var(--primary-box-color);
	color: var(--primary-text-color);
	width: 100%;
	border: none;
	padding: 15px;
	font-size: 15px;
	border-radius: 5px;
}

#timezone {
	order: 1;
}

#timezone,
#type {
	width: calc(100% - 20%);
	margin: 0 10% 5px 10%;
	position: relative !important;
}

.selection:focus {
	outline: none;
}

#date-constructor input:focus {
	outline: 2px solid var(--accent-color);
}

#down-arrow {
	position: relative;
	background-color: rgb(255, 255, 255);
	transform: skewX(-30deg) scale(1, 0.866);
	margin: 9px 0 9px 15px;
	pointer-events: none;
}

#down-arrow:before,
#down-arrow:after {
	content: "";
	position: absolute;
	background-color: inherit;
}

#down-arrow,
#down-arrow:before,
#down-arrow:after {
	width: 10px;
	height: 10px;
	border-top-right-radius: 20%;
}

#down-arrow:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

#down-arrow:after {
	transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

#selection-arrow {
	background: var(--accent-color);
	position: absolute;
	aspect-ratio: 1 / 1;
	height: 35px;
	border-radius: 3px;
	top: 5.5px;
	right: 5.5px;
	pointer-events: none;
}

#user-preview {
	margin: auto 5%;
	width: calc(100% - 10%);
}

#user-avatar {
	height: 80px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
}

#user-preview-info {
	margin-left: 10px;
	height: 100%;
	align-items: flex-start;
}

#user-name {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

#user-message {
	padding: 5px 8px;
	border-radius: 3px;
	background: var(--tertiary-box-color);
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
