:root {
	--primary-text-color: #fff;
	--secondary-text-color: #ffffff6d;
	--primary-box-color: #18191b;
	--secondary-box-color: #25272c;
	--bg-color: #2f3136;
	--accent-color: #5267fa;
	--input-color: #464a52;
}

* {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	background: var(--bg-color);
	color: var(--primary-text-color);
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	overflow: -moz-hidden-unscrollable;
	height: 100%;
}

nav {
	padding: 20px;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	font-family: inherit;
	color: inherit;
	font-size: inherit;
}

.fade:hover {
	opacity: 75%;
}

.pulse:hover {
	animation: pulse 0.3s 1;
	animation-timing-function: linear;
}

.bg-accent {
	color: #fff !important;
}

.flex {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	gap: 10px;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.align-right {
	margin-left: auto !important;
}

.box {
	background: var(--primary-box-color);
	width: fit-content;
	padding: 20px;
	border-radius: 5px;
	margin: 0;
}

.secondary-box {
	background: var(--secondary-box-color);
}

.height-300px {
	height: 300px;
}

.bg-accent {
	background: var(--accent-color);
}

.accent {
	color: var(--accent-color);
}

.clickable {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.date-row {
	flex-direction: row-reverse;
	margin-right: 10px;
}

.time-row {
	margin-left: 10px;
	order: 1;
}

.input-label {
	gap: 8px;
	font-size: 14px;
	font-weight: bold;
}

#toggle-theme {
	padding: 14px;
}

#container {
	width: 60%;
	margin: 100px auto;
}

#preview,
#builder {
	width: 100%;
	height: 175px;
	border-radius: 8px;
}

#builder {
	height: 300px;
	flex-direction: column-reverse;
}

#preview-header {
	background: var(--primary-box-color);
	border-radius: 8px 8px 0 0;
	width: 100%;
}

#preview-header * {
	margin: 10px 0 10px 0;
}

#timestamp-text {
	margin: auto 20px;
}

#copy-timestamp {
	padding: 8px 13px;
	border-radius: 4px;
	margin-right: 10px;
}

#raw-timestamp {
	color: var(--secondary-text-color);
	padding: 8px 12px;
	margin-left: 10px;
}

#convert-timestamp {
	order: -1;
	padding: 14px;
	border-radius: 0 0 8px 8px;
	width: 100%;
	font-size: 1.2em;
}

#date-constructor {
	order: 1;
	margin: 0 10% 10px 10% !important;
}

#date-constructor input {
	background: var(--input-color);
	color: var(--primary-text-color);
	border: none;
	text-align: center;
	width: 80%;
	padding: 10px 8px;
	border-radius: 3px;
	font-size: 20px;
}

#date-constructor p {
	width: fit-content;
	margin: 0 !important;
	margin-bottom: 5px;
}

#timestamp-type {
	background: var(--primary-box-color);
	color: var(--primary-text-color);
	width: calc(100% - 20%);
	margin: 0 10% 50px 10% !important;
	border: none;
	padding: 15px;
	font-size: 15px;
	border-radius: 5px;
}

#timestamp-type:focus {
	outline: none;
}

#date-constructor input:focus {
	outline: 2px solid var(--accent-color);
}

#selection-arrow {
	aspect-ratio: 1 / 1;
	height: 100%;
	background: var(--accent-color);
	border-radius: 0 5px 5px 0;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
